.service {
    margin-top: 96px;
    text-align: center;
}

.about-us{

	margin-top: 5rem;
	background-color: white;
	position: relative;
	right: 0;
	left:0;

}

.about-text {

	margin-top:4rem;
	color:white;
	font-family: 'Ubuntu', sans-serif;
	font-size: 1.3rem;
	border-style:solid;
	border-width:2px;
	border-color:#FFB17B;
	background-color: #FFB17B;
}

.about-us .title {

		font-family: 'Ubuntu', sans-serif;
		font-weight: 700;
		text-align: center;
		font-size: 4rem;
		margin-top: 1.5rem;
		color:#FFB17B;

}


.about-image {

	width: 251px;
	height: 251px;
	margin-top: 2rem;

}

.service-icon{
	

	width:250px;
	height:250px;


}


@media only screen and (max-width: 330px) {
    
}

@media only screen and (max-width: 927px) {
	.about-us .title {
		font-size: 2.5em;
	}
}

@media only screen and (max-width: 800px) {
	

	.about-us .title {
		font-size: 2em;
	}

	.about-us .about-text{

		font-size:1.1em;
		padding-right:7px;
		padding-left:7px;

	}
}

@media only screen and (max-width: 600px) {
	.about-us .title {
		font-size: 1.5em;
	}
	.about-us .about-text{

		font-size:1em;

	}
}

@media only screen and (max-width: 500px) {
	

	.about-us .title {
		font-size: 1.4em;
	}

	.about-us .about-text {
		padding-left: 15px;
		padding-right: 15px;
	}
}

@media only screen and (max-width: 350px) {
	.about-us .title {
		font-size: 1.2em;
	}
}

