@media only screen {
	* {
		box-sizing: border-box;
	}

	body {
		background-color: #F2F2F2;
	}

	.front {
		height: 300px;
		margin-top: -3rem;
		background-image: url("../img/Sfondo.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		font-size: 1em;
		padding: 100px 50px 20px 50px;
	}

	.front .focus {
		margin: 0 auto;
		display: block;
		width: 100%;
		max-width: 320px;
		height: 100%;
		max-height: 50px;
		border: 3px solid white;
	}

	.front .focus .focus-table-layout {
		display: table;
		width: 100%;
		height: 100%;
		overflow: hidden;
	}

	.front .focus .focus-content {
		display: table-cell;
		text-align: center;
		vertical-align: middle;
		color: white;
		font-size: 1.3em;
		font-weight: 500;
		font-family: 'Raleway', sans-serif;
	}

	.top-bar-section ul li {
		font-family: 'Ubuntu', sans-serif !important;
		font-weight: 500;
	}

	.top-bar-section ul li a:hover {
	    color: black !important;
	    background-color: rgba(255, 255, 255, 0.8) !important;
	}

	.top-bar.expanded .top-bar-section ul {
		background-color: black;
	}

	.top-bar.expanded .title-area {
		background-color: black;
		border-bottom: 2px solid black;
	}

	.title-area.cust-sticked {
	    background-color: rgba(0, 0, 0, 0.9);
	}

	.top-bar.cust-sticked {
		background-color: rgba(0, 0, 0, 0.7);
	}
	


	.service .container {
		margin-left: 10px;
		margin-right: 10px;
	}
	
	.service .icon {
		padding-top: 10px;
	}

	.service .title {
		padding-top: 10px;
		font-family: 'Ubuntu', sans-serif;
		font-weight: 700;
		color: #3B3B3B;
	
	}

	.service .content {
		padding-left: 25px;
		padding-right: 25px;
		font-family: 'Ubuntu', sans-serif;
		font-weight: 500;
		text-align: left;
	}



	.services-full {
		padding-top: 50px;
	}

	.service-full {
		padding-bottom: 100px;
		width: 60%;
	}

	.services-full .x {
		margin: 0 !important;
	}

	.service-full .title {
		font-family: 'Ubuntu', sans-serif;
		font-weight: 700;
		text-align: center;
		font-size: 3em;
		color: #FFB17B;
	}

	.service-full .content {
		padding-top: 45px;
		padding-left: 25px;
		padding-right: 25px;
		font-family: 'League Gothic', sans-serif;
		font-size: 1.8em;
		text-align: left;
		color: #3B3B3B;
	}

	
}

@media only screen and (max-width: 330px) {
    .front .focus .focus-content {
		font-size: 1em;
	}
}

@media only screen and (max-width: 927px) {
	.service-full .title {
		font-size: 2.5em;
	}
}

@media only screen and (max-width: 800px) {
	.service-full {
		width: 70%;
	}

	.service-full .title {
		font-size: 2em;
	}
}

@media only screen and (max-width: 600px) {
	.service-full .title {
		font-size: 1.5em;
	}
}

@media only screen and (max-width: 500px) {
	.service-full {
		width: 80%;
	}

	.service-full .title {
		font-size: 1.4em;
	}

	.service-full .content {
		padding-left: 7px;
		padding-right: 7px;
	}
}

@media only screen and (max-width: 350px) {
	.service-full .title {
		font-size: 1.2em;
	}
}

@media only screen and (min-width: 641px) {
	.front {
	    height: 800px;
		font-size: 1em;
		padding-top: 200px;
	}

	.front .focus {
		max-width: 500px;
		max-height: 100px;
	}

	.front .focus .focus-content {
		font-size: 3em;
	}
}


// Medium-only issues
@media only screen and (min-width: 641px) and (max-width: 64em) {
	.service.triangle-bottom {
		margin-top: 400px;
	}
}